 <div class="yd-ft wow fadeIn">
   <div class="yd-ft-inner">
     <div class="yd-ft-left">
       <h2>Welcome to array, where data matters.</h2>
           <p>We’ll Deliver the best analytics and graphs you care about most straight to your
           dashboard, app, or inbox. </p>
       <a href="#" class="btn-action btn-edge">Get Started</a>
     </div>
     <div class="yd-ft-right">
       <img src="{{ '/static/images/undraw_Bus_stop_8ib0.png'|asseturl }}" alt="Feature">
     </div>
   </div>
 </div>
