<div id="products" class="features wow fadeInDown">
  <div class="container-m">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="features-intro">
          {% set feat = site.get('/features') %}
          <h2>{{ feat.title }}</h2>
          <p>{{ feat.summary }}</p>
        </div>
      </div>
      {% set items = site.query('/features') %}
      {% for item in items %}
        <div class="col-md-6 col-lg-4 mt-5">
          <div class="card">
            <img src="{{ item.illo|asseturl }}" class="card-img-top" alt="Feature">
            <div class="card-body">
              <h3 class="card-title">{{ item.title }}</h3>
              <p class="card-text">{{ item.summary }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div><!-- Features Section -->
