<!-- Array Footer Section -->
<div class="footer-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="footer-logo" href="#">Cyber01</a>
      </div>
      <div class="col-md-4">
        <h6>&copy; IOThemes 2018 Rights Reserved</h6>
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
