<!doctype html>
{% include 'header.html' %}
<body>
  <div class="wrapper">
      {% include 'navbar.html' %}
      <div id="main" class="main">
        <div id="features" class="flex-split wow fadeIn">
         <div class="container">
           <div class="flex-intro align-center">

             <h2 class="display-1">{{ this.title }}</h2>

           </div>
           <div class="row p-5">
             <div class="col-12">
               <h3 class="display-4">{{ this.summary }}</h3>
             </div>
           </div>
           <div class="row p-5">
              <div class="col-12">
                {% block body %} {% endblock %}
              </div>
          </div>
         </div>
       </div>
      {% include 'footer.html' %}
       <!-- Scroll To Top -->
        <div id="back-top" class="bk-top">
          <div class="bk-top-txt">
             <a class="back-to-top js-scroll-trigger" href="#main">top</a>
          </div>
        </div>
       <!-- Scroll To Top Ends-->

      </div> <!-- Main -->
    </div><!-- Wrapper -->

  {% include 'scripts.html' %}
</body>
