<!-- Navbar Section -->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container container-s">
    <a class="navbar-brand" href="#">Cyber01</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto navbar-right">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/features">Features</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/articles">Articles</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="https://blog.cyber01.org">Blog</a></li>
        <li class="nav-item"><a class="btn-cta nav-link js-scroll-trigger" href="/donate">Donate</a></li>
      </ul>
    </div>
  </div>
</nav><!-- Navbar End -->
