<!-- Jquery and Js Plugins -->
<script type="text/javascript" src="{{ '/static/js/jquery-2.1.1.js'|asseturl }}"></script>
<script type="text/javascript" src="{{ '/static/js/popper.min.js'|asseturl }}"></script>
<script type="text/javascript" src="{{ '/static/js/bootstrap.min.js'|asseturl }}"></script>
<script type="text/javascript" src="{{ '/static/js/jquery.validate.min.js'|asseturl }}"></script>
<script type="text/javascript" src="{{ '/static/js/plugins.js'|asseturl }}"></script>
<script type="text/javascript" src="{{ '/static/js/custom.js'|asseturl }}"></script>
