{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>
  {{ post.body }}
  </div>
{% endmacro %}

{% macro render_blog_post_summary(post, from_index=false) %}
  <li>
    <div class="ar-text">
      <h3><a href="{{ post|url }}">{{ post.title }}<a/></h3>
      <p>{{ post.summary }}</p>
      <p><a href="{{ post|url }}">Read more</a></p>
    </div>
  </li>
{% endmacro %}
